<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("main_head") %>
  <%- include("style_main") %>
  <%- include("style_animations") %>
</head>

<body>
  <div id="heading-nav" class="aligner">
    <nav id="nav-container">
      <div id="nav-brand">
        <a href="/">
          <img id="brand-logo" loading="lazy" alt="Site logo" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/surfer_1f3c4.png">
          <span id="brand-text">Jarred Vardy</span>
        </a>
      </div>
      <ul id="nav-items">
        <li class="nav-item"><a href="#">Contact</a></li>
        <li class="nav-item"><a href="#">Portfolio</a></li>
        <li class="nav-item"><a href="#">Blog</a></li>
      </ul>
    </nav>
  </div>
  <!-- All content centered on page -->
  <div class="container">
    <div id="jumbotron" class="section">
        <div id="jumbotron-message" class="jumbotron-item">
          <h1>Please hire me</h1>
          <p>
            I'm not desperate I swear... Morbi lacinia tincidunt tristique. Donec eu neque sapien. Sed non urna felis. Curabitur eleifend mi suscipit, scelerisque massa vitae, semper tortor. Sed sed lectus quis arcu ultrices vestibulum non vitae justo.
          </p>
          <a href="https://github.com/vardy/">
            <img id="shield-github" alt="GitHub Link" src="https://img.shields.io/github/followers/vardy?label=Github&logo=github&logoColor=white&style=flat-square">
          </a>
        </div>
        <div id="pfp-container" class="jumbotron-item">
          <div id="pfp-box">
            <img id="pfp" alt="Myself, eating a carrot" src="https://cdn.vardy.dev/f/2yJ3E4.jpeg">
            <h2>Hi, I'm Jarred</h2>
            <p id="pfp-flavour">
              Marine scientist, activist, programmer, and garden hose specialist.
            </p>
          </div>
        </div>
    </div>

    <div class="section">
      <h2>Latest Posts</h2>

      <ul id="posts"></ul>

      <ul style="list-style: none;">
        <li style="margin-bottom: 10px;">One Post</li>
        <li style="margin-bottom: 10px;">Two Post</li>
        <li style="margin-bottom: 10px;">Red Post</li>
        <li style="margin-bottom: 10px;">Blue Post</li>
      </ul>
    </div>
    <div class="section">
      <h2>Portfolio</h2>

      <p>
        orbi lacinia tincidunt tristique. Donec eu neque sapien. Sed non urna felis. Curabitur eleifend mi suscipit, scelerisque massa vitae, semper tortor. Sed sed lectus quis arcu ultrices vestibulum non vitae justo.
      </p>
    </div>
    <div class="section">
      <h2>Events</h2>

      <button onclick="newAuthor()">Click here!!</button>
      <ul id="authors"></ul>

      <ul id="events"></ul>
    </div>
    <div class="section">
      <h2>Authors</h2>
      <%- include("test/test", {name: name}) %>

      <%- include("lipsum") %>
    </div>
    <div class="section">
      <p>Some centered text for some reason</p>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/assets/test.js"></script>
  <%- include("listeners/event_listener", {some_data: "DataDataData!"}) %>
  <%# include("scripts/blog_posts") %>
  <%- include("scripts/navbar") %>

  <!-- Bottom-right stripes for pazzaz -->
  <div id="stripe-1"></div>
  <div id="stripe-2"></div>
  <div id="stripe-3"></div>
  <div id="stripe-4"></div>

  <%- "<script src=" + process.env.BROWSER_REFRESH_URL + "></script>" %>
</body>

</html>
